*{
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}


/*-------------Product card---------------*/

.row{
    width: 100%;
    justify-content: space-between; 
    margin-bottom: 40px;
    display: flex;
    flex-wrap: wrap;
 }
 .flex-box{
    display: flex;
    flex-wrap: wrap;
}
.col-4{
    flex-basis: 24% !important;
    min-width: 180px;
}
.p-b-20{
    padding-bottom: 20px;
}
.shadow-box{
    width: 100%;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.1);
    padding: 10px;
    height: 100%;
}
.shadow-box:hover{
    box-shadow: 0 0 7px 3px rgba(0, 0, 0, 0.2);
}
.photo img{
    width: 100%;
}
.discription h3{
    font-size: 1.4vw;
}
.discription p{
    color: #323232;
    font-size: 1vw;
}
.m-t-10{
    margin-top: 10px;
}
.price,.not-price,.off,.fd{
    font-family: sans-serif;
}
.price{
    color: black;
    font-size: 1.2vw;
}
.not-price{
    color: #777777;
    font-size: 1vw;
}
.off{
    color: rgb(1, 168, 1);
    font-size: 1vw;
    font-weight: bold;
}
.fd{
    color: #666666;
    margin-top: 5px;
}
.shadow-box .buttons button{
    padding: 10px;
    border-radius: 5px;
    margin: 5px;
    color: white;
    border: none;
}
.shadow-box .buttons .add{
    background-color: #f38d07;
}
.shadow-box .buttons .rem{
    background-color: #ff4800;
}